html,
body {
	height: 150%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.artContainer {
	border: solid;
	justify-content: center;
	min-height: 500px;
	width: 500px;
	background-color: peachpuff;
}

.blocks {
	z-index: 1;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	gap: 5px;
	padding: 12pt;
}
.smallBlocks {
	position: relative;
	height: 75px;
	width: 150px;
}

.smallBlocks:nth-child(even) {
	background-color: navy;
}

.smallBlocks:nth-child(odd) {
	background-color: mediumslateblue;
}

.circleElm {
	position: relative;
	z-index: 2;
}
#circleOne {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: -45px;
	margin-left: 40px;
	background-color: darkcyan;
}

#circleTwo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: -70px;
	margin-left: 150px;
	background-color: palegreen;
}

#circleThree {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: palegreen;
	margin-top: -140px;
	margin-left: 140px;
}

.bigBlock {
	display: flex;
	position: relative;
	height: 50%;
	justify-content: center;
	align-items: center;
	background-color: lightskyblue;
}

.block-med {
	position: relative;
	height: 65%;
	width: 80%;
	background-color: teal;
}

#triangleOne {
	z-index: 1;
	position: relative;
	height: 0;
	width: 0;
	margin-top: -130px;
	margin-left: 350px;
	border-top: 0;
	border: 50px solid transparent;
	border-bottom: 240px solid orange;
}

.formContainer {
	padding-top: 30px;
	max-width: 200px;
}

.requiredPart {
	color: red;
}

footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}

/* For tablets */
@media (max-width: 768px) {
	.artContainer {
		min-height: calc(500px / 2);
		width: calc(500px / 2);
	}

	.blocks {
		gap: calc(5px / 2);
		padding: calc(12pt / 2);
	}
	.smallBlocks {
		height: calc(75px / 2);
		width: calc(150px / 2);
	}

	#circleOne {
		height: calc(50px / 2);
		width: calc(50px / 2);
		margin-top: calc(-45px / 2);
		margin-left: calc(40px / 2);
	}

	#circleTwo {
		height: calc(100px / 2);
		width: calc(100px / 2);
		margin-top: calc(-70px / 2);
		margin-left: calc(150px / 2);
	}

	#circleThree {
		height: calc(20px / 2);
		width: calc(20px / 2);
		margin-top: calc(-140px / 2);
		margin-left: calc(140px / 2);
	}

	#triangleOne {
		margin-top: calc(-130px / 2);
		margin-left: calc(350px / 2);
		border: calc(50px / 2) solid transparent;
		border-bottom: calc(200px / 2) solid orange;
	}

	.formContainer {
		margin-top: 50px;
	}
}
/* For mobile phones */
@media (max-width: 320px) {
	.artContainer {
		min-height: calc(500px / 2);
		width: calc(500px / 2);
	}

	.blocks {
		gap: calc(5px / 2);
		padding: calc(12pt / 2);
	}
	.smallBlocks {
		height: calc(75px / 2);
		width: calc(150px / 2);
	}

	#circleOne {
		height: calc(50px / 2);
		width: calc(50px / 2);
		margin-top: calc(-45px / 2);
		margin-left: calc(40px / 2);
	}

	#circleTwo {
		height: calc(100px / 2);
		width: calc(100px / 2);
		margin-top: calc(-70px / 2);
		margin-left: calc(150px / 2);
	}

	#circleThree {
		height: calc(20px / 2);
		width: calc(20px / 2);
		margin-top: calc(-140px / 2);
		margin-left: calc(140px / 2);
	}

	#triangleOne {
		margin-top: calc(-130px / 2);
		margin-left: calc(350px / 2);
		border: calc(50px / 2) solid transparent;
		border-bottom: calc(200px / 2) solid orange;
	}
}
